<!DOCTYPE HTML>
<html>
<head>
	<title>Faraday Cage Match</title>
	<meta name="viewport" content="initial-scale=1">
	<style>
		body {
			margin: 0;
			padding: 0;
			background-color: #000;
		}
		canvas {
			display:block;
			margin:0 auto;
		}
		.voting {
			background-color:#fff;
			position:absolute;bottom:0;right:0;
			z-index:3;
		}
		.randomWords {
			position:absolute;
			top:0;left:0;
			width: 100%;
			z-index:1;
			color: grey;
			font-size: 48px;
			opacity:0.3;
		}
		#stageContainer {
			z-index:2;
			background-color:#000;
			position: relative;
			margin:0 auto;
		}
	</style>
<!--	<script src="/js/libs/pixi.js"></script>
	<script src="/js/text.js"></script>
	<script src="/js/move.js"></script>
	<script src="/js/pieces.js"></script>-->
	<script src="/dist/nko4-faraday-cage-match.min.js"></script>

</head>
<body>

<div class="randomWords"></div>
<div id="stageContainer"></div>

	<script>
	var stageWidth, stageHeight;
	function sizeStage() {
		stageWidth = 512;
		stageHeight = 338;
		if(window.innerWidth < 512) {
			stageWidth = window.innerWidth;
			stageHeight = parseInt(window.innerWidth * 0.66);
		}
		if(stageHeight > window.innerHeight) {
			stageHeight = window.innerHeight;
			stageWidth = stageHeight * 1.5;
		}
		document.getElementById('stageContainer').style.width = stageWidth+'px';
	}
	sizeStage();

	var floorHeight = 50;
	var heroHeight = 36;
	var screens = 5;
	var letterWidth = 50;
	var lettersCollected = [];
	var gameOver = false;
	var rotating = true;
	var alphabet = "EEEEEEEEEEEEEEEEEEEEEEEETTTTTOOOOOTTTTTAAAATTTTTOOOOOAAAAAAAAAAAAOOOOOIIIIIIIIIIIIINNNNNNNNNNNNNRRRRRRRRRRRRRSSSSSSSSSSLLLLLLLUUUUUUUDDDDDDDDGGGGGCCCCCCMMMMMMBBBBPPPPHHHHHFFFFWWWWYYYYVVVKKJJXXQQZZ"; //Super Scrabble letter set
	var lettersInPlay = [];
	var hero, midTexture, myLetters, scoreDisplay;

	var stage, renderer, playBegun, textSample;
	function begin() {
		stage = new PIXI.Stage(0x000000);
		renderer = PIXI.autoDetectRenderer(stageWidth, stageHeight);
		document.getElementById('stageContainer').appendChild(renderer.view);
		
		playBegun = false;
		//show directions first
		var instructionsText = "Run along the letter path to\ncollect letters …\n click or tap to jump\nletters.\nEvery eight letters we'll\nscore you by the words you've\ncreated, and subtract from your\nscore letters that couldn't find a\nhome in a word. GO!";
		textSample = new PIXI.Text(instructionsText, {font: "bold 24px Arial", fill: "grey", align: "left"});
		textSample.position.x = 20;
		textSample.position.y = 20;
		stage.addChild(textSample);
	  renderer.render(stage);

	  //listeners
		renderer.view.addEventListener("touchstart", onTouchStart, true);
		renderer.view.addEventListener("touchend", onTouchEnd, true);
		renderer.view.addEventListener("mousedown",function(event){
			event.preventDefault()
			onClick();
		});
		renderer.view.addEventListener("mouseup",function(event){
			event.preventDefault()
			onRelease();
		});
	}
	begin();
	
	//game loop
	var forwardSpeed = 2;
	function animate() {
	
		if(!gameOver) {
	    requestAnimFrame( animate );

	    for(var i = 0;i<lettersInPlay.length;i++) {
	    	lettersInPlay[i].position.x -= forwardSpeed;
	    	if(lettersInPlay[i].position.x < 0 - letterWidth) {
	    		stage.removeChild(lettersInPlay[i]);
	    		lettersInPlay.splice(i,1);
	    	}
	    }

			if(rotating) {
		    hero.rotation += 0.1;
			}
	    mid.tilePosition.x -= forwardSpeed;
	    if(mid.tilePosition.x < -parseInt(stageWidth * screens) ) {
	    	gameOver = true;
	    	if(lettersCollected.length < 8) {
	    		clearPieces();
	    		gameOver = false;
	    		init();
	    	}

	    }

	    if(jumping) {
	    	if(hero.position.y > 0) {
		    	hero.position.y -= 5;
	    	} else {
	    		jumping = false;
	    	}
	    }
	    if(falling) {
	    	if(hero.position.y < parseInt(stageHeight - floorHeight - (heroHeight / 2) - 1 )) {
		    	hero.position.y += 2;
	    	} else {
	    		falling = false;
	    		rotating = true;
	    	}
	    }

	    letterCollision();
		
	    // render the stage   
	    renderer.render(stage);
		}
	}

	function reset() {
		gameOver = true;
		document.body.removeChild(renderer.view);
		sizeStage();
		setTimeout(function() {
			begin();
			gameOver = false;
			init();
		},100)
	}
	window.addEventListener('orientationchange',function() { 
		location.reload();
		//reset();
	});

	ajax('/randomWords',function(words) {
		var wordList = JSON.parse(words);
		var wordString;
		for(var i = 0;i<wordList.length;i++) {
			wordString += ' '+wordList[i].word;
		}
		console.log(wordString);
		document.querySelector('.randomWords').insertAdjacentHTML( 'beforeend', wordString );
	})
	</script>

	<div class="voting">
	<iframe src="http://nodeknockout.com/iframe/faraday-cage-match" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
	</div>

	</body>
</html>